/* Reset / Normalisation de base */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--color-gray-dark);
  background-color: var(--color-white);
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.main-content {
  padding: var(--spacing-main);
  padding-top: 0;
  clear: both;
}

h2,
h3,
h4 {
  font-weight: 700;
  color: var(--color-gray-dark);
}

.partners__title,
.contact-form-section__title,
.contact-info__title {
  font-size: 1.5rem;
  text-align: center;
  margin: 30px 0 20px;
}
