.styles {
  --d-grad--orange: linear-gradient(105deg, #ff8c00 0, #ff6b00 100%);
  --d-grad--cyan: linear-gradient(105deg, #00ced1 0, #00a8aa 100%);
  --d-grad--social--instagram-: linear-gradient(
    104deg,
    #a641d5 0,
    #f218b0 100%
  );
}
